.wbbar {
  padding: 13px 12px;
  background-image: linear-gradient(dimgray, gray, darkgray);
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.logo {
  font-size: 18px;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.home {
  padding: 14px 12px;
  color: white;
  text-decoration: none;
}

.catalog {
  padding: 14px 12px;
  color: white;
  text-decoration: none;
}

.gametitle {
  font-weight: bold;
  margin: 5px;
}

.playercount {
  margin: 5px;
}

.game1 {
  padding: 2px;
  margin: 5px;
}

.downloader {
  width: 100%;
  border-box;
  margin: 5px;
  padding: 9px 10px;
}
body {
  margin: 0;
}
